<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>게시판</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        </head>
        <style>
        body {            
            padding-top: 70px;
            padding-bottom: 30px;           
        }
        .btn-primary{
            border:0px;
        }
        .a{
            margin-left:90%;
            margin-right:10px;
        }
        .b{
            margin-left:0px;
        }
        </style>
    </head>
    <body>
        <center>
                <div class="box1">
                    <h2>게시판</h2> <br>
                    <table border="1" bordercolor="#ccc" width="700" height="150">
                            <th style="text-align: center" bgcolor="#F4F2F4">제목</th>
                            <td colspan="5"> &nbsp <%= list[Num].title %> </th>
                            <tr>
                                <th style="text-align: center" bgcolor="#F4F2F4">작성자</th>
                            <td colspan="2"> &nbsp <%= list[Num].id %> </th>
                                <th style="text-align: center" bgcolor="#F4F2F4">등록일</th>
                                <td colspan="2"> &nbsp <%= list[Num].date %> </th>
                            <tr>
                                <td colspan="6" rowspan="10">&nbsp <%= list[Num].content %>            </th>
                            <tr>
                            </table> <br><br>
                            <a href="/board?number=1" class="btn btn-default">돌아가기</a>
                            <hr class="hr"><br></table>
                    </table>
                    <% for (var i = 0; i < comment.length; i++) { %>
                        <% if(comment[i].Num == Num){ %>
                            <table border="1" bordercolor="#ccc" width="700" height="150">
                        <tr>
                            <th style="text-align: center" bgcolor="#F4F2F4">작성자</th>
                        <td colspan="2"> &nbsp <%= comment[i].id %> </th>
                            <th style="text-align: center" bgcolor="#F4F2F4">등록일</th>
                            <td colspan="2"> &nbsp <%= comment[i].date %> </th>
                        <tr>
                            <td colspan="6" rowspan="10">&nbsp <%= comment[i].comment %></th>
                        <tr>
                        </table><br>
                            <% } %>
                    <% } %>
                <h3 style="text-align:left "> &nbsp&nbsp&nbsp&nbsp&nbsp 답변 : <%= id %></h3> 
                <form action="viewboard" method="post">
                <div class="mb-2 f">
                        <textarea style="resize: none;" class="form-control" rows="5" name="comment" id="content" placeholder="내용을 입력해 주세요" ></textarea>
                </div> <br>
                <td><input type="submit" class="btn btn-default" value="작성"></td>
                </div>
            </form>
        </center>
    </body>
</html>